<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-RJ9dQ/+NWNwXEdaHlOW+AqKOhEgBgRVzr3F1e8A5tJ9lQLk2MqL9KcO7tdKr03hMeeWlgHrKkt0O8EYAKxK3Lg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  
     
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
    </html>
    
  <!-- </header> --> 
  <header class="header">
    <div class="left">
        <img src="/static/image/logo.jpg">
        <div class="gaming">Gov-Connect</div>
    </div>
    <nav class="mid">
        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/raised">Raised Ques</a></li>
            <li><a href="/dept">Departments</a></li>
            <li><a href="/aboutus/">About Us</a></li>
        </ul>
    </nav>
    <div class="right">
        <button class="btn" id="btn1"><a href="/login/">Log In</a></button>
    </div>
</header>
  <div class="container">
    <section> 
      <section id="who-we-are">

      <h2>Who We Are</h2>
      <p>We are a group of talented individuals who are passionate about innovation, creativity, and problem-solving. We love participating in hackathons, where we get the opportunity to collaborate, ideate, and build exciting projects within a limited time frame.
        We thrive on challenges and are constantly seeking new ways to push boundaries and come up with groundbreaking solutions. Our team members possess a diverse set of skills, including programming, design, data analysis, and project management. We leverage our collective expertise to tackle complex problems and deliver impressive results</p>
    </section>
    <section id="about-project">

    <section>
      <h2>Our Team</h2>
      <section class="team-section">
        <div class="card">
          <div class="card-image">
            <img src="/static/image/divyansh.jpeg" alt="Profile Image">
          </div>
          <div class="card-content">
            <h3>Divyansh Baranawal</h3>
            <p>Position: Software Developer</p>
            <p>Description: He is an skilled web developer with expertise in Python, Django, and backend T echnologies. He is passionate about creating engaging and user-friendly websites.</p>
          </div>
        </div>
      <!-- </section> -->
      <!-- <section class="team-section"> -->
        <div class="card">
          <div class="card-image">
            <img src="/static/image/unwan.jpeg" alt="Profile Image">
          </div>
          <div class="card-content">
            <h3>Unwan Khan</h3>
            <p>Position: Full Stack Developer</p>
            <p>Description: He is a skilled developer with expertise in Database management  and JavaScript. He is passionate about creating engaging and user-friendly websites.</p>
          </div>
        </div>
      <!-- </section> <section class="team-section"> -->
        <div class="card">
          <div class="card-image">
            <img src="/static/image/shivam.jpeg" alt="Profile Image">
          </div>
          <div class="card-content">
            <h3>Shivam Vishwakarma </h3>
            <p>Position: Web Developer</p>
            <p>Description: He is a skilled web developer with expertise in HTML, CSS, and JavaScript. He is passionate about creating engaging and user-friendly websites.</p>
          </div>
        </div>
      <!-- </section> <section class="team-section"> -->
        <div class="card">
          <div class="card-image">
            <img src="/static/image/sashank shekhar shukla.jpeg
            " alt="Profile Image">
          </div>
          <div class="card-content">
            <h3>Sashank Shekhar Shukla</h3>
            <p>Position:Software Developer</p>
            <p>Description: Whether it's developing AI models, designing intelligent systems, or solving real-world problems using Python and AI techniques, our AI and Python expert is equipped with the skills and knowledge to drive transformative outcomes. With their proficiency in AI and Python, combined with their passion for innovation, they are an invaluable asset in harnessing the power of artificial intelligence and unlocking its potential in diverse domains..</p>
          </div>
        </div>
      <!-- </section> <section class="team-section"> -->
        <div class="card">
          <div class="card-image">
            <img src="/static/image/pkm.jpeg" alt="Profile Image">
          </div>
          <div class="card-content">
            <h3>Prashant Mishra</h3>
            <p>Position: Web Developer</p>
            <p>Description: He is a skilled web developer with expertise in HTML, CSS, and JavaScript. He is passionate about creating engaging and user-friendly websites.</p>
          </div>
        </div>
      </section>

      
      <h2>About Gov-connect </h2>
      <p>We are a group of talented individuals who are passionate about innovation, creativity, and problem-solving. We love participating in hackathons, where we get the opportunity to collaborate, ideate, and build exciting projects within a limited time frame.
        We thrive on challenges and are constantly seeking new ways to push boundaries and come up with groundbreaking solutions. Our team members possess a diverse set of skills, including programming, design, data analysis, and project management. We leverage our collective expertise to tackle complex problems and deliver impressive results</p>
    </section>
  </section>

      
  <h2>Seamless Integration </h2>
  <p>In today's digital era, chatbots have become an integral part of many businesses and customer
     service experiences. These chatbots, powered by artificial intelligence (AI) and algorithms, offer various benefits such as improved customer support, increased efficiency, and personalized interactions. The seamless integration of chatbots with AI and algorithms enhances their capabilities and delivers enhanced user experiences..</p>
</section></section>

    <!-- <section id="contact-us"> -->

    
    
  </div>
  <footer>
<section> 
  <section id="contact-us"></section>

    <p>Thank you for visiting our Chat Support Portal and getting to know our Hackathon Team. Feel free to reach out to us, and let's embark on a journey of discovery and collaboration together! @tech Monks</p>
  </footer>
</body>
</html>
