<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goverment info</title>
    <link rel="stylesheet" href="/static/css/front.css">
    <style>

    </style>
</head>

<body>
    <header class="header">
        <div class="left">
            <img src="/static/image/logo.jpg">
            <div class="gaming">Gov-Connect</div>
        </div>
        <nav class="mid">
            <ul class="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/raised">Raised Ques</a></li>
                <li><a href="/dept">Departments</a></li>
                <li><a href="/aboutus/">About Us</a></li>
            </ul>
        </nav>
        <div class="right">
            <button class="btn" id="btn1"><a href="/login/">Log In</a></button>
        </div>
    </header>

    <div class="container">
        Welcome to Gov-Connect!
    </div>
<section class="chart1">
<div class="chart">
        <div class="card">
          
            
            <div id="chart-container"><img src="/static/image/data.PNG"></div>
          
        </div>
</div>

    <div class="chat-box">
        <header><img src="/static/image/chat logo.jpg"height="30px wi
            30px" border-radius:50%>
          <h1>Chat with us!</h1>
          <span style="flex:1"></span>
          <!-- <span class="close-button">x</span> -->
        </header>
        <section id="message-list">
        </section>
        <footer>
          <input id="message-input" type="text" placeholder="Type a message...">
        </footer>
    </div>
</section>
    <script src="/static/js/front.js"></script>
</body>

</html>